/* ------------------------- HEADER ------------------------- */
.header_ {
  position: absolute; /*fixed will make this follow down when scrolling down*/
  top: 10px;
  left: 10vw;
  right: 10vw;
  background-color: white;
  border-radius: 40px;
  text-align: center;
  z-index: 2;
}
.navbar-open {
  background-color: black !important; 
}
.navbar-content-open{
  color: white !important;
   
}

.hide-language-icon{
  display: none;
}

.header-logo{
  width: 10vw;
}

.header-text{
  color:black;
  font-weight: 700;
}

.header-text-open{
  color: white !important;
}

.header-text-open:hover{
  background-color: white;
  color:black !important;
  border-radius: 20px;
}
.navbar-toggler-open{
background-color: rgba(0, 0, 0);
/* display: none; */
}
.close-cross{
  color: white !important;
}

/* Default styles for the logo */
.logo {
  display: none; /* Hide the logo by default */
}
@media (max-width: 991px) {
  .logo-mobile {
    display: block; /* Show the mobile logo */
  }
}

/* Media query for screens larger than 991px */
@media (min-width: 992px) {
  .logo-desktop {
    display: block; /* Show the desktop logo */
  }
}


/* extra small devices (vertical phones) 300 px and up*/
@media (max-width: 576px) { 
  .header-logo{
    width: 20vw;
    display: flex;
    justify-content: center;
    
  }

  .header_ {
    position: absolute; /*fixed will make this follow down when scrolling down*/
    top: 0px;
    left: 10vw;
    right: 10vw;
    background-color: rgba(0, 0, 0, 0) ; /*here the logo is transparent*/
    border-radius: 40px;
    text-align: center;
    z-index: 2;
  }
  .navbar.open {
    background-color: white !important; /* change the background color when the toggler button is open */
  }
}




/* ------------------------- HEADER END --------------------- */

/* ------------------------- FORM --------------------------- */
.form-tittle{
  color: black;
  font-family: 'Poppins',sans-serif;
  font-weight: 700;
}
.form-container{
  max-width: 50vw;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 30px;
}

.form-container-mobile{
  max-width: 90vw;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  margin-top: 2.5vh;
}

@media screen and (min-width: 767px) and (max-width: 1031px) {
  .hide-on-tablet{
    display: none;
  }
}

.red-color{
  color: red;
}

/* ------------------------- FORM --------------------------- */
/* ------------------------- WHY RENT ----------------------- */
.why_rent{
  
  background-image:  url('static/images/fonde.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center !important;
}

.toyota-why-rent{
  width: 100%;
  max-width: 100%;
  
  transform: scaleX(-1);
}

.why-rent-img{
  max-width: 25vw;

}
.why-rent-img:hover{
  transform: scale(1.2);
  transition: all .6s;
}
.hover-image{
  padding-right: 10px;
}

@media (max-width: 767px) {
  .toyota-why-rent{
    width: 100%;
    max-width: 100%;
    
    transform: scaleX(-1);
  }
  .why-rent-img-reasons{
    max-width: 60%;
    width: 60%;
    margin-bottom: 5vh;
    margin-top: 5vh; 
  }
  .why-rent-img-mobile{
  
    max-width: 35vw;
  }
}

/* ---------------------- WHY RENT END ----------------------- */

/* --------------------- BEST CHOICE ------------------------- */
.best-choice-container{
  background-image:  url('static/images/adam-le-sommer.webp');
  min-height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center !important;
}
.best-choice-header{
  width: 75%;
  height: 50%;
}

@media (max-width: 576px) { 
  .best-choice-header{
    width: 100%;
  }
}
/* --------------------- BEST CHOICE END --------------------- */

/* ----------------- complete fleet -------------------------- */
.complete-fleet-img{
  width: 70%;
  align-items: center;
}

@media (max-width: 576px) { 
  .complete-fleet-img{
    width: 100%;
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: 3vw;
    margin-right: 3vw;
  }
}

/* ----------------- complete fleet END--------------------- */
/* --------------- CAR CONTAINER ----------------------------- */
.car-container{
  background-image:  url('static/images/emifon.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center !important;
  background-color: #000000;
}

.car-card{
  border-radius: 30px;
}

.line-separator {
  border-top: 3px solid black;
}



.logo-img{

  object-fit: contain;
  max-width: 50%;
  max-height: 50%;
    
}


.text-model-container{
  position: relative;
}

/* .text-model-container:after {
  content: "";
  display: block;
  width: 4vw;
  height: 5px;
  background: #000;
  right: 0;
  top: 50%;
  position: absolute;
} */

.text-model{
  font-size: 1.3rem;
  font-weight: 900;
}

.car-image{
  object-fit: contain;
  max-width: 80%;
}
.car-image:hover{
  transform: scale(1.2);
  transition: all .6s;
}
.car-charact-img{
  object-fit: contain;
  max-width: 100%;
}
.rounded-right-corners {
  border-top-left-radius: 0;
  border-radius: 0px 30px 30px 30px;
}
@media (max-width: 767px) {
  .text-model-container:after {
    content: "";
    display: block;
    width: 0vw;
  }
  .car-charact-img{
    object-fit: contain;
    max-width: 100%;
  }
  .logo-img{

    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
  }
  .text-model{
    font-size: 1rem;
  }
}
.bg-gold{
  background-color: #c8c624 !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* --------------- CAR CONTAINER END ------------------------ */

/* ----------- HOW WORKS CONTAINER -------------------------- */
.container-how-works {
  opacity: 0;
  transition: opacity 1s;
  width: 50%;
  /* flex-shrink: 0; */
}

.steps-tittle-desktop{
  font-family: "Poppins", Sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
}

.how-works-tittle{
  font-weight: 900;
}
.steps-mobile-tittle{
  font-size: 0.9rem;
  font-weight: 900;
}

.steps-mobile-text{
  font-size: 0.8rem;
  font-weight: 600;
}
.steps-path{
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.fade-in {
  opacity: 1;
}

.row-container {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 768px) { 
  .container-how-works {
    width: 100%;
  }
}
/* ----------- HOW WORKS CONTAINER -------------------------- */

/* ----------- ANGLE DOWN AFTER HOW WORKS --------------------*/
.angle-down{
  width: 4rem;
}

.angle-down-parent{
  position: relative;
}
.angle-down-parent:before {
  content: "";
  display: block;
  width: 40vw;
  height: 5px;
  background: #000;
  left: 0;
  top: 50%;
  position: absolute;
}
.angle-down-parent:after {
  content: "";
  display: block;
  width: 40vw;
  height: 5px;
  background: #000;
  right: 0;
  top: 50%;
  position: absolute;
}

/* ----------- ANGLE DOWN AFTER HOW WORKS END  ---------------*/

/* -------------------------- MAP --------------------------- */
.location-widget{
  position: absolute;
  top: 30%;
  left: 50%;
  z-index: 1;
}


@keyframes pointer-animation {
  from {
    transform: translateY(1000%);
  }
  to {
    transform: translateY(0);
  }
}


.pointer {
  animation: pointer-animation 1s ease-in-out;
  transform: translateY(100%);
  position: absolute;
  top: 30vh;
  left: 50vw;
}

@media (max-width: 768px) { 
  .pointer{
    position: absolute;
    top: 20vh;
    left: 50vw;
  }
}
.pointer.is-visible {
  transform: translateY(0);
  animation: pointer-animation 1s ease-in-out;
}

.map-image{
  max-width: 100%;
  margin-bottom: 5vh;
  margin-top: 5vh;
}
/* @media (max-width: 576px) { 
  .map-image{
    max-width: 100%;  
  }

  .pointer {
   max-width: 100%;
  }

 } */

/* -------------------------- MAP END ----------------------- */

/* --------------------- REQUIRED DOCUMENTS ----------------- */
.required-documents{
  background-image:  url('static/images/emini_fondo_documents.webp');
  background-repeat: no-repeat;
  background-size: contain;
  
  background-position: right !important;
  background-color: #000000;
  border-radius: 90px 0px 90px 90px;
}

.required-documents-title{
  font-size: 1.9rem;
  font-weight: 900;
  background-color: white;
  border-radius: 90px 90px 90px 90px;
  width: 50%;
  text-align: center;
}

.required-documents-text{
  font-size: 1.9rem;
  font-weight: 900;
  color:white;
  border-radius: 90px 90px 90px 90px;
  width: 50%;
  text-align: center;
}

.required-documents-list-tittle{
  font-weight: 900;
}

.doc-req-img{
  max-width: 50vw;
}
@media (max-width: 576px) { 
  .required-documents{

    background-size: auto 3vh;    
    background-position: right !important;
    background-color: #000000;
  }
  
.doc-req-img{
  max-width: 45vw;
}
}
@media (max-width: 768px) { 
  .required-documents{

    background-size: auto 5vh;    
    background-position: right !important;
    background-color: #000000;
    
  }
  
  .required-documents-title{
    font-size: 1.3rem;
    font-weight: 900;
    background-color: white;
    width: 70%;
    text-align: center;
  }
  
  .required-documents-text{
    font-size: 1.3rem;
    font-weight: 900;
    color:white;
    border-radius: 90px 90px 90px 90px;
    width: 50%;
    text-align: center;
  }
  
  .required-documents-list-tittle{
    font-weight: 900;
  }
}

/* --------------------- REQUIRED DOCUMENTS END -------------- */

/* ------------------------------ FAQ ------------------------ */
.faq-container{
  background-image:  url('static/images/adam-le-sommer.webp');
  min-height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center !important;
  
}

.accordion{
  margin: 30px;
}
.accordion-button{
  border-radius: 90px !important;
  margin-bottom: 10px;
  margin-top :10px;
  display: grid;
  place-items: center;
}
/* erase the default iccon of accordion */
.accordion-button::after {
  
  margin-left: 0;
  
  background-image: none;


}

.accordion-button:not(.collapsed)::after {
  background-image: none;
  transform: rotate(-180deg);
}
/* erase the default iccon of accordion  END*/


.faq-acordion-button{
  
  color:white !important;
  background-color: #000000 !important;
  text-align: center !important;
  font-size: 2rem 
}

/* extra small devices (vertical phones) 300 px and up*/
@media (min-width: 300px) { 

}

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
  .faq-acordion-button{
  
    color:white !important;
    background-color: #000000 !important;
    text-align: center !important;
   
  }
  .accordion-header{
    font-size: 1.1rem;
  }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {


 }

.faq-acordion-content{
  color:black;
  
  background-color: white !important;
  border-radius: 90px 90px 90px 90px;
  font-family: "Poppins", Sans-serif;
  font-weight: 400 !important;
}


.accordion-header {
  margin:10px;
}

#accordion .collapsing {
  transition: height 0.6s ease-in-out;
}
/* ------------------------- FAQ END ------------------------ */

/* ---------------------- VALUABLE INFO --------------------- */
.valuable-information-tittle-container{
  background-image:  url('static/images/adam-le-sommer.webp');
  min-height: 20vh;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center !important;
}



.valuable-information-tittle{
  font-size: 1.3rem;
  font-weight: 1000;
  background-color: white;
  width: 90%;
  text-align: center;
  border-radius: 30px;
}

.valuable-information-text{
  font-size: 1.3rem;
  font-weight: 1000;
  color:white;
  border-radius: 90px 90px 90px 90px;
  width: 50%;
  text-align: center;
}

.valuable-information{
  background-image:  url('static/images/valuable-information-desktop.webp');
  max-height: 100vh;
  padding-bottom: 10vh;
  
  /* width: 100%; */

  background-repeat: no-repeat;
  /* background-size: 100vw 100vh; */
  /* background-position: center !important; */
  background-position: top center;
  background-size: 100% auto;
}

.valuable-information-es{
  background-image:  url('static/images/vi_bg_ES.webp');
  max-height: 100vh;
  padding-bottom: 10vh;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
}


.row-modal-information{
  margin-left: 25vw !important;
  
}

.modal-image-trigger{
  margin-top: 8rem;
  width: 10vw;
  height: 10vw;
}
/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) { 
  .modal-image-content{
    max-width: 95vw ;
  }
}

@media (max-width: 576) {
  .valuable-information{
    background-image:  url('static/images/valuable-information-mobile.webp');
    max-height: 100vh;
    padding-bottom: 5vh;
    /* width: 100%; */
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto 100%;
  }
  .valuable-information-es{
    background-image:  url('static/images/valuable-information-mobile.webp');
    max-height: 100vh;
    padding-bottom: 5vh;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto 100%;
  }
  .modal-image-trigger{
    width: 38vw;
    height: 38vw;
    margin-top: 4rem;
  }
  .row-modal-information{
    margin-left: 0vw !important;
  }
  .modal-image-content{
    max-width: 100vw ;
  }
}

@media (max-width: 767px) {
  .valuable-information{
    background-image:  url('static/images/valuable-information-mobile.webp');
    max-height: 100vh;
    /* width: 100%; */
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto 100%;
  }
  .valuable-information-es{
    background-image:  url('static/images/valuable-information-mobile.webp');
    max-height: 100vh;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto 100%;
  }
  .modal-image-trigger{
    width: 21vw;
    height: 21vw;
    margin-top: 3.5rem;
  }
  .row-modal-information{
    margin-left: 0vw !important;
  }
  .modal-image-content{
    max-width: 96vw ;
  }
}
/* --------------------- VALUABLE INFO END ------------------- */


/* extra small devices (vertical phones) 300 px and up*/
@media (min-width: 300px) { 
 
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {


 }



 @media (min-width: 767px) {
  .hide-on-desktop {
      display: none ;
  }
}

@media (max-width: 767px) {
  .hide-on-mobile {
      display: none;
  }
}
@media screen and (min-width: 767px) and (max-width: 1031px) {
  .hide-on-tablet{
    display: none;
  }
}

@media (max-width: 1031px) {
  .show-on-tablet-mobile-flex{
    display: flex !important;
  }
}
@media (max-width: 1245px) {
  .show-on-tablet-mobile-flex-form{
    display: flex !important;
  }
}
@media (min-width: 767px) and (max-width: 1246px) {
  .hide-on-desktop {
    display: none;
  }
  .hide-on-mobile {
    display: none;
  }
  .show-767-1246 {
    display: block;
  }
  .font-tablet{
    font-size: 0.9rem !important; 
  }
}

.carousel-caption{
  right: 2.5vw;
  left: auto;
  bottom: auto;
  top: 50%;
  transform: translateY(-50%);
}

/* d-none d-md-block just shows desktop */



/* ------about us------- */

.about-us-container{
  background-image:  url('static/images/fonde.webp'); 
  background-size: contain;  
  background-repeat: no-repeat;
}

.about-us-tittle{
  
  text-align: center;
  font-family: "Poppins", Sans-serif;
  font-size: 2.2rem;
  font-weight: 800;
  line-height: 1px;
  color: #474747;
  margin-top: 20vh;
  margin-bottom: 10vh;   
}
.about-us-text{
  text-align: justify;
  font-family: "Poppins", Sans-serif;
  font-size: 1.1rem;
}

.footer-links{
  text-decoration:none;
  color:black
}
.footer-links:hover{
  
  font-weight: 800;
  color:black;
}

/* Whatsapp button */

.floating {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: white;
  color: #fff;
  border-radius: 50%;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.float-button{
	margin-top:16px;
}
.notification {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 20px;
  height: 20px;
  background-color: red;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Whatsapp button */