/* ------------------------- HEADER ------------------------- */
.header_ {
  position: absolute; /*fixed will make this follow down when scrolling down*/
  top: 10px;
  left: 5vw;
  right: 5vw;
  background-color: white !important;
  border-radius: 40px;
  text-align: center;
  z-index: 2;
}

.header__text {
  font-size: 20px;
  color: black;
  margin: 0;
  padding: 10px;
}

.header-logo{
  width: 10vw;

}
/* ------------------------- HEADER ------------------------- */

/* ------------------------- WHY RENT ----------------------- */
.why_rent{
  
  background-image:  url('static/images/fonde.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center !important;
}

.toyota-why-rent{
  width: 90%;
  max-width: 90%;
  
  transform: scaleX(-1);
}

.why-rent-img{
  max-width: 24vw;
  width: 24vw;
}
.why-rent-img:hover{
  transform: scale(1.2);
  transition: all .6s;
}
/* ------------------------- WHY RENT ----------------------- */


.best-choice-container{
  background-image:  url('static/images/adam-le-sommer.jpg');
  min-height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center !important;
}
.car-container{
  background-image:  url('static/images/emifon.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center !important;
  background-color: #000000;
}

.line-separator {
  border-top: 3px solid black;
}


.logo-img{
  object-fit: contain;
  max-width: 50%;
  max-height: 50%;
}

/* .car-model{
  
} */
.text-model{
  display: flex;
}
.text-with-line:after {

  content: "";
  display: inline-block;
  flex-grow: 1;
  /* margin: 0 .5em 0 -55%; */
  vertical-align: middle;
  border-bottom: 6px solid;
}


.car-image{
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}
.rounded-right-corners {
  border-top-left-radius: 0;
  border-radius: .25rem;
}

.container-how-works {
  opacity: 0;
  transition: opacity 1s;
  width: 50%;
  /* flex-shrink: 0; */
}

.fade-in {
  opacity: 1;
}

.row-container {
  display: flex;
  flex-wrap: wrap;
}

.angle-down{
  width: 4rem;
  
}

/* .angle-down:after {

  content: "";
  display: inline-block;
  flex-grow: 1;

  vertical-align: middle;
  border-bottom: 6px solid;

  
} */

.angle-down-parent{
  position: relative;
}
.angle-down-parent:before {
  content: "";
  display: block;
  width: 40vw;
  height: 5px;
  background: #000;
  left: 0;
  top: 50%;
  position: absolute;
}
.angle-down-parent:after {
  content: "";
  display: block;
  width: 40vw;
  height: 5px;
  background: #000;
  right: 0;
  top: 50%;
  position: absolute;
}

.location-widget{
  position: absolute;
  top: 30%;
  left: 50%;
  z-index: 1;
}


@keyframes pointer-animation {
  from {
    transform: translateY(1000%);
  }
  to {
    transform: translateY(0);
  }
}


.pointer {
  animation: pointer-animation 1s ease-in-out;
  transform: translateY(100%);
}

.pointer.is-visible {
  transform: translateY(0);
  animation: pointer-animation 1s ease-in-out;
}

.required-documents{
  background-image:  url('static/images/emini_fondo_documents.png');
  background-repeat: no-repeat;
  background-size: contain;
  
  background-position: right !important;
  background-color: #000000;
  border-radius: 90px 0px 90px 90px;
}

.required-documents-title{
  font-size: 1.9rem;
  font-weight: 900;
  background-color: white;
  border-radius: 90px 90px 90px 90px;
  width: 50%;
  text-align: center;
}

.required-documents-text{
  font-size: 1.9rem;
  font-weight: 900;
  color:white;
  border-radius: 90px 90px 90px 90px;
  width: 50%;
  text-align: center;
}

.faq-container{
  background-image:  url('static/images/adam-le-sommer.jpg');
  min-height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center !important;
}

.faq-acordion-tittle{
  text-align: center !important;
}
.faq-acordion-button{
  
  color:white !important;
  background-color: #000000 !important;
  border-radius: 90px 90px 90px 90px;
}


.faq-acordion-content{
  color:black;
  
  background-color: white !important;
  border-radius: 90px 90px 90px 90px;
}

.accordion-header {
  margin:10px;
}

.valuable-information{
  background-image:  url('static/images/valuable-information-desktop.jpg');
  min-height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center !important;
}