/* ------------------------- HEADER ------------------------- */
.header_ {
  position: absolute; /*fixed will make this follow down when scrolling down*/
  top: 10px;
  left: 10vw;
  right: 10vw;
  background-color: white !important;
  border-radius: 40px;
  text-align: center;
  z-index: 2;
}

.header__text {
  font-size: 20px;
  color: black;
  margin: 0;
  padding: 10px;
}

.header-logo{
  width: 10vw;
}

.header-text{
  color:black;
  font-weight: 700;
}



/* extra small devices (vertical phones) 300 px and up*/
@media (max-width: 576px) { 
  .header-logo{
    width: 20vw;
    display: flex;
    justify-content: center;
    
  }

  .header_ {
    position: absolute; /*fixed will make this follow down when scrolling down*/
    top: 0px;
    left: 10vw;
    right: 10vw;
    background-color: rgba(0, 0, 0, 0) !important; /*here the logo is transparent*/
    border-radius: 40px;
    text-align: center;
    z-index: 2;
  }
}


/* ------------------------- HEADER END --------------------- */

/* ------------------------- WHY RENT ----------------------- */
.why_rent{
  
  background-image:  url('static/images/fonde.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center !important;
}

.toyota-why-rent{
  width: 90%;
  max-width: 90%;
  
  transform: scaleX(-1);
}

.why-rent-img{
  max-width: 25vw;

}
.why-rent-img:hover{
  transform: scale(1.2);
  transition: all .6s;
}

@media (max-width: 767px) {
  .toyota-why-rent{
    width: 100%;
    max-width: 100%;
    
    transform: scaleX(-1);
  }
  .why-rent-img-reasons{
    max-width: 60%;
    width: 60%;
    margin-bottom: 5vh;
    margin-top: 5vh;
  }
  .why-rent-img-mobile{
  
    width: 35vw;
  }
}

/* ---------------------- WHY RENT END ----------------------- */

/* --------------------- BEST CHOICE ------------------------- */
.best-choice-container{
  background-image:  url('static/images/adam-le-sommer.webp');
  min-height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center !important;
}
.best-choice-header{
  width: 75%;
}

@media (max-width: 576px) { 
  .best-choice-header{
    width: 100%;
  }
}
/* --------------------- BEST CHOICE END --------------------- */

/* ----------------- complete fleet -------------------------- */
.complete-fleet-img{
  width: 70%;
  align-items: center;
}

@media (max-width: 576px) { 
  .complete-fleet-img{
    width: 100%;
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: 3vw;
    margin-right: 3vw;
  }
}

/* ----------------- complete fleet END--------------------- */
/* --------------- CAR CONTAINER ----------------------------- */
.car-container{
  background-image:  url('static/images/emifon.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center !important;
  background-color: #000000;
}

.car-card{
  border-radius: 30px;
}

.line-separator {
  border-top: 3px solid black;
}



.logo-img{

  object-fit: contain;
  max-width: 50%;
  max-height: 50%;

  /* object-fit: contain; */
    
}


.text-model-container{
  position: relative;
}

.text-model-container:after {
  content: "";
  display: block;
  width: 7vw;
  height: 5px;
  background: #000;
  right: 0;
  top: 50%;
  position: absolute;
}

.text-model{
  font-size: 1.3rem;
  font-weight: 900;
}

.car-image{
  object-fit: contain;
  max-width: 80%;
}
.car-image:hover{
  transform: scale(1.2);
  transition: all .6s;
}
.car-charact-img{
  object-fit: contain;
  max-width: 100%;
  
}
.rounded-right-corners {
  border-top-left-radius: 0;
  border-radius: .25rem;
}
/* --------------- CAR CONTAINER END ------------------------ */

/* ----------- HOW WORKS CONTAINER -------------------------- */
.container-how-works {
  opacity: 0;
  transition: opacity 1s;
  width: 50%;
  /* flex-shrink: 0; */
}

.how-works-tittle{
  font-weight: 900;
}

.steps-path{
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.fade-in {
  opacity: 1;
}

.row-container {
  display: flex;
  flex-wrap: wrap;
}

/* ----------- HOW WORKS CONTAINER -------------------------- */

/* ----------- ANGLE DOWN AFTER HOW WORKS --------------------*/
.angle-down{
  width: 4rem;
}

.angle-down-parent{
  position: relative;
}
.angle-down-parent:before {
  content: "";
  display: block;
  width: 40vw;
  height: 5px;
  background: #000;
  left: 0;
  top: 50%;
  position: absolute;
}
.angle-down-parent:after {
  content: "";
  display: block;
  width: 40vw;
  height: 5px;
  background: #000;
  right: 0;
  top: 50%;
  position: absolute;
}

/* ----------- ANGLE DOWN AFTER HOW WORKS END  ---------------*/

/* -------------------------- MAP --------------------------- */
.location-widget{
  position: absolute;
  top: 30%;
  left: 50%;
  z-index: 1;
}


@keyframes pointer-animation {
  from {
    transform: translateY(1000%);
  }
  to {
    transform: translateY(0);
  }
}


.pointer {
  animation: pointer-animation 1s ease-in-out;
  transform: translateY(100%);
  position: absolute;
  top: 30vh;
  left: 50vw;
}

@media (max-width: 768px) { 
  .pointer{
    position: absolute;
    top: 20vh;
    left: 50vw;
  }
}
.pointer.is-visible {
  transform: translateY(0);
  animation: pointer-animation 1s ease-in-out;
}

.map-image{
  max-width: 100%;
  margin-bottom: 5vh;
  margin-top: 5vh;
}
/* @media (max-width: 576px) { 
  .map-image{
    max-width: 100%;  
  }

  .pointer {
   max-width: 100%;
  }

 } */

/* -------------------------- MAP END ----------------------- */

/* --------------------- REQUIRED DOCUMENTS ----------------- */
.required-documents{
  background-image:  url('static/images/emini_fondo_documents.webp');
  background-repeat: no-repeat;
  background-size: contain;
  
  background-position: right !important;
  background-color: #000000;
  border-radius: 90px 0px 90px 90px;
}

.required-documents-title{
  font-size: 1.9rem;
  font-weight: 900;
  background-color: white;
  border-radius: 90px 90px 90px 90px;
  width: 50%;
  text-align: center;
}

.required-documents-text{
  font-size: 1.9rem;
  font-weight: 900;
  color:white;
  border-radius: 90px 90px 90px 90px;
  width: 50%;
  text-align: center;
}

.required-documents-list-tittle{
  font-weight: 900;
}
@media (max-width: 576px) { 
  .required-documents{

    background-size: auto 3vh;    
    background-position: right !important;
    background-color: #000000;
    
  }
}
@media (max-width: 768px) { 
  .required-documents{

    background-size: auto 5vh;    
    background-position: right !important;
    background-color: #000000;
    
  }
  
  .required-documents-title{
    font-size: 1.3rem;
    font-weight: 900;
    background-color: white;
    width: 70%;
    text-align: center;
  }
  
  .required-documents-text{
    font-size: 1.3rem;
    font-weight: 900;
    color:white;
    border-radius: 90px 90px 90px 90px;
    width: 50%;
    text-align: center;
  }
  
  .required-documents-list-tittle{
    font-weight: 900;
  }
}

/* --------------------- REQUIRED DOCUMENTS END -------------- */

/* ------------------------------ FAQ ------------------------ */
.faq-container{
  background-image:  url('static/images/adam-le-sommer.webp');
  min-height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center !important;
  
}

.accordion{
  margin: 30px;
}
.accordion-button{
  border-radius: 90px !important;
  margin-bottom: 10px;
  margin-top :10px;
  display: grid;
  place-items: center;
}
/* erase the default iccon of accordion */
.accordion-button::after {
  
  margin-left: 0;
  
  background-image: url("");


}

.accordion-button:not(.collapsed)::after {
  background-image: url("");
  transform: rotate(-180deg);
}
/* erase the default iccon of accordion  END*/


.faq-acordion-button{
  
  color:white !important;
  background-color: #000000 !important;
  text-align: center !important;
  font-size: 2rem 
}

/* extra small devices (vertical phones) 300 px and up*/
@media (min-width: 300px) { 

}

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
  .faq-acordion-button{
  
    color:white !important;
    background-color: #000000 !important;
    text-align: center !important;
    font-size: 1.4rem 
  }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {


 }

.faq-acordion-content{
  color:black;
  
  background-color: white !important;
  border-radius: 90px 90px 90px 90px;
  font-family: "Poppins", Sans-serif;
  font-weight: 400 !important;
}


.accordion-header {
  margin:10px;
}

#accordion .collapsing {
  transition: height 0.6s ease-in-out;
}
/* ------------------------- FAQ END ------------------------ */

/* ---------------------- VALUABLE INFO --------------------- */
.valuable-information{
  background-image:  url('static/images/valuable-information-desktop.webp');
  height: 100vh;
  /* width: 100%; */

  background-repeat: no-repeat;
  /* background-size: 100vw 100vh; */
  /* background-position: center !important; */
  background-position: top center;
  background-size: 100% auto;
}

.img-trigger-modals{
  margin-left: 100px;
}

.row-modal-information{
  margin-left: 25vw !important;
  
}

.modal-image-trigger{
  margin-top: 7rem;
  width: 70%;
}

/* --------------------- VALUABLE INFO END ------------------- */


/* extra small devices (vertical phones) 300 px and up*/
@media (min-width: 300px) { 
 
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {


 }



 @media (min-width: 767px) {
  .hide-on-desktop {
      display: none;
  }
}

@media (max-width: 767px) {
  .hide-on-mobile {
      display: none;
  }
}
